.post {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1.5%;
    border-left: 7px solid rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.post>.post-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* Ensures vertical alignment */
}

.post>.post-header>.title-date {
    display: flex;
    flex-direction: column;
}

.post>.post-header>.title-date>p {
    margin: 0px;
}

.post>.post-header>.title-date>.title {
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 25px;
}

.post>.post-header>.title-date>.date {
    font-style: italic;
    font-size: 14px;
}


.post>.post-header>.image>img {
    max-width: 125px;
    align-items: flex-start;
    border-radius: 15px;
}

.header {
    margin: 15px 0px 0px 15px;
}

.explanation {
    font-style: italic;
    margin: 15px 15px 15px 15px
}