.collapsibleButton{
    background-color: transparent;
    color: black;
    cursor: pointer;
    padding: 0px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
    font-weight: bold;
  }
  
  .collapsibleButton:hover {
    color: grey;
  }
  
  .collapsibleButton:after {
    color: white;
    font-weight: bold;
    float: right;
  }
  
  #collapsible {
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }