:root {
    --content-container-max-width: 1920px;
}

body {
    /* Styling */
    background-color: rgb(70, 70, 70);
    font-family: "Lato", sans-serif;
    font-size: 15px;

    /* Body fill the viewport */
    margin: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}

.contentContainer {
    color: white;
    background-color: rgb(70, 70, 70);
    height: 100%;
    max-width: var(--content-container-max-width);
    margin: auto;
    overflow: hidden;
}

.topNav {
    background-color: rgb(40, 40, 40);
    position: fixed;
    max-width: var(--content-container-max-width);
    width: 100%;
    height: 33px;
    margin: auto;
    z-index: 3;
    padding: 0px;
    box-sizing: border-box;
}

.navButton{
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 7px 15px 7px 15px;
    letter-spacing: 2px;
}

.navButton:hover{
    background-color: rgb(70, 70, 70);
}
.sidebar {
    background-color: rgb(15, 15, 15);
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 2;
    padding: 10px;
    padding-top: 33px;
}

.content {
    background-color: rgb(190, 190, 190);
    color: black;
    margin-left: 250px;
    min-width: 330px;
    z-index: 1;
    padding: 25px;
    padding-top: 33px;
    height: 100%;
    overflow: auto;
}

.closeSidebarButton {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 23px;
    cursor: pointer;
    padding-left: 200px;
}